<div class="w-75 mx-auto mt-5">
    <table *ngIf="cartItems.length > 0" class="table">
      <thead>
      <tr>
        <th scope="col">image</th>
        <th scope="col">name</th>
        <th scope="col">price</th>
        <th scope="col">quantity</th>
        <th scope="col">actions</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let item of cartItems; let i = index;">
        <tr>
          <th scope="row"><img [src]="item.image" width="50px"></th>
          <td>{{item.name}}</td>
          <td>{{item.price}}</td>
          <td><button class="btn btn-warning" (click)="decreaseQuantity(i)">-</button>
            {{item.quantity}}
            <button class="btn btn-info" (click)="increaseQuantity(i)">+</button> </td>
          <td>
            <button class="btn btn-danger" (click)="removeItem(i)">remove</button>
          </td>
        </tr>
      </ng-container>
      </tbody>
      <tfoot>
          <td colspan="3" class="h3">total: {{totalPrice}} </td>
      </tfoot>
    </table>
  
    <div class="d-flex justify-content-center align-items-center" style="
      height: 70vh;" *ngIf="cartItems.length == 0">
     <p class="text-warning" style="font-size:48px;"> Cart is empty </p>
    </div>
  </div>
  
