<div class="card mb-3 p-5 mt-5 ">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="productDetails?.image" style="width:150px;" class="img-fluid rounded-start" [alt]="productDetails?.title" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{productDetails?.title}}</h5>
          <p class="card-text">
              {{productDetails?.category}}
          </p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>
  </div>
