<section class="vh-100 bg-image">
 
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form [formGroup]="registerform" (ngSubmit)="handleFormSubmit()">

                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example1cg">Your Name</label> 
                  <input type="text" id="yourname" class="form-control form-control-lg" formControlName="yourname"/>
                  <div
                  id="yournameHelp"
                  *ngIf="
                  registerform.controls['yourname'].touched &&
                  registerform.controls['yourname'].invalid
                  "
                  class="form-text text-danger"
                >
                  <small *ngIf="registerform.controls['yourname'].errors?.['required']"
                    >This field is required</small
                  >
                  
                </div>
                  
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3cg">Your Email</label>
                  <input type="email" id="form3Example3cg" class="form-control form-control-lg"formControlName="email" />
                  <div
      id="emailHelp"
      *ngIf=" registerform.controls['email'].touched &&
      registerform.controls['email'].invalid"
      class="form-text text-danger"
    >
      <small *ngIf="registerform.controls['email'].errors?.['required']"
        >This field is required</small
      >
      <small *ngIf="registerform.controls['email'].errors?.['email']"
        >reqiured email</small
      >
      <small *ngIf="registerform.controls['email'].errors?.['pattern']"
        > required pattern email</small
      >
    </div>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example1cg">user Name</label>
                    <input type="text" id="name" class="form-control form-control-lg"  formControlName="name"/>
                    <div  id="usernameHelp"
                    *ngIf="
                    registerform.controls['name'].touched &&
                    registerform.controls['name'].invalid"
                    class="form-text text-danger">
                    <small *ngIf="registerform.controls['name'].errors?.['required']">This field is required</small> 
                    <small *ngIf="registerform.controls['name'].errors?.['pattern']"> required pattern name</small
      >
                  </div>
                  </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cg">Password</label> 
                  <input type="password" id="form3Example4cg" class="form-control form-control-lg" formControlName="pass" />
                  <div  id="usernameHelp"
                  *ngIf="
                  registerform.controls['pass'].touched &&
                  registerform.controls['pass'].invalid"
                  class="form-text text-danger">
                  <small *ngIf="registerform.controls['pass'].errors?.['required']">This field is required</small> 
                  <small *ngIf="registerform.controls['pass'].errors?.['minLength']">lenght less 8</small> 
                  <small *ngIf="registerform.controls['pass'].errors?.['pattern']"> required pattern name</small
    >
                </div>  
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cdg">Confirm your password</label>
                  <input type="password" id="form3Example4cdg" class="form-control form-control-lg"  formControlName="confirmpass"/>
                  <div  id="confirmpasshelp"
                  *ngIf="
                  registerform.controls['confirmpass'].touched &&
                  registerform.controls['confirmpass'].invalid"
                  class="form-text text-danger">
                  <small *ngIf="registerform.controls['confirmpass'].errors?.['required']">This field is required</small> 
                  <!-- <small *ngIf="registerform.controls['pass'].errors?.['mustMatch']">confirm pass</small>  -->
            
                </div> 
                </div>

                

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" [routerLink]="['/login']">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a [routerLink]="['/login']"
                    class="fw-bold text-body"><u>Login here</u></a></p>

              </form>

            </div>
       
</section>